header.branding {
  width: $page-width;
  margin: 0 auto;

  section.usc {
    background: #000000;
    padding-top: 5px;

    img {
      float: right;
      position: relative;
      top: -10px;
      left: -10px;
    }

    ul {
      position: relative;
      top: 30px;
      left: 15px;

      a {
        color: #fff;
        font-size: 14px;
      }

      a:hover {
        border-bottom: none;
        color: #ffcc00;
      }

      @include horizontal-list(10px, 10px, none);
    }

    @include clearfix;
  }

  section.scctsi {
    background: #990000;

    i {
      float: left;
      font-size: 80px;
      color: #fff;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 15px;
    }

    aside {
      float: right;
      margin-top: -40px;
      color: #fff;

      img {
        margin-left: 135px;
        margin-right: 5px;
        margin-top: -2px;
        float: left;
      }

      li {
        margin-bottom: 5px;
      }

      a {
        color: #ffcc00;
      }
    }

    h1 {
      padding: 20px 15px 5px 15px;
      font-size: 32px;
      color: #fff;
      font-weight: 400;
    }

    h2 {
      padding: 5px 15px 25px 20px;
      color: #fff;
      font-size: 18px;
      font-style: italic;
    }

    @include clearfix;
  }
}