aside {
	@include span-columns(4);
  margin-top: 20px;
  font-size: 14px;

  h3 {
    font-size: 16px;
  }

  ul.partners {
    margin-top: 5px;

    li {
      margin-bottom: 15px;
    }

    li:last-child {
      margin-bottom: 5px;
    }
  }

  ul.news {
    margin-left: 25px;
    margin-top: 5px;

    li {
      line-height: 1.35em;
      font-size: 14px;
      padding-bottom: 10px;
    }

    li:last-child {
      margin-bottom: 5px;
      padding-bottom: 0px;
    }

    .fa-li {
      color: #999;
    }
  }

  #is-super-widget {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .twitter-timeline {
    margin-top: 15px; 
  }
}