/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
  background: #faf9f2;
}

a {
  text-decoration: none;
  color: #267196;
}

a:hover {
  border-bottom: 1px solid;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header.branding {
  width: 960px;
  margin: 0 auto;
}
header.branding section.usc {
  background: #000000;
  padding-top: 5px;
}
header.branding section.usc img {
  float: right;
  position: relative;
  top: -10px;
  left: -10px;
}
header.branding section.usc ul {
  position: relative;
  top: 30px;
  left: 15px;
}
header.branding section.usc ul a {
  color: #fff;
  font-size: 14px;
}
header.branding section.usc ul a:hover {
  border-bottom: none;
  color: #ffcc00;
}
header.branding section.usc ul:before, header.branding section.usc ul:after {
  content: "";
  display: table;
}
header.branding section.usc ul:after {
  clear: both;
}
header.branding section.usc ul {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
header.branding section.usc ul li {
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  border-right: none;
}
header.branding section.usc ul li:last-child {
  border-right: none;
}
header.branding section.usc:after {
  content: "";
  display: table;
  clear: both;
}
header.branding section.scctsi {
  background: #eee;
}
header.branding section.scctsi h1 {
  padding: 20px 15px 5px 15px;
  font-size: 32px;
  color: #990000;
  font-weight: 400;
}
header.branding section.scctsi h2 {
  padding: 5px 15px 25px 20px;
  color: #666;
  font-size: 16px;
  float: left;
}
header.branding section.scctsi:after {
  content: "";
  display: table;
  clear: both;
}

section.content {
  width: 960px;
  margin: 0 auto;
  background: #fff;
  padding: 25px;
  box-shadow: 0px 3px 10px #eee;
}

sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
sidebar:last-child {
  margin-right: 0;
}

.workshop:after {
  content: "";
  display: table;
  clear: both;
}
.workshop header {
  margin-bottom: 15px;
}
.workshop header:after {
  content: "";
  display: table;
  clear: both;
}
.workshop header h2 {
  font-size: 24px;
  color: #333;
}
.workshop h3 {
  font-size: 18px;
  padding: 10px;
  background: #eee;
  border-left: 5px solid #990000;
  margin-bottom: 15px;
}
.workshop h3 i {
  font-size: 20px;
  margin-right: 5px;
  color: #999;
}
.workshop h3 i.fa-plus-square {
  display: inline;
}
.workshop h3 i.fa-minus-square {
  display: none;
}
.workshop h3.open i.fa-plus-square {
  display: none;
}
.workshop h3.open i.fa-minus-square {
  display: inline;
}
.workshop .answer {
  display: none;
}
.workshop section.videos {
  margin-bottom: 15px;
}
.workshop section.videos:after {
  content: "";
  display: table;
  clear: both;
}
.workshop figure.video {
  float: left;
  padding: 15px;
  border: 1px solid #ccc;
  margin-right: 30px;
}
.workshop figure.video a:hover {
  border-bottom: none;
}
.workshop figure.video figcaption {
  color: #666;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  background: #eee;
}
