.workshops {
  @include span-columns(8);
  padding-right: 15px;
}

.separator {
  height: 1px;
  border-bottom: 1px dashed #999;
  margin-bottom: 15px;
}

.workshop {
  margin-bottom: 0px;

  header {
    margin-bottom: 15px;
    font-size: 15px;
    @include clearfix;

    section.workshop-description {
      float: left;
      width: 475px;
      margin-top: 45px;
      @include clearfix;
    }

    h2 {
      font-size: 24px;
      color: #333;
      line-height: 1.4em;
      margin-bottom: -40px;
    }

    h4 {
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
      line-height: 1.4em;
    }

    ul {
      list-style-type: square;
      margin-left: 25px;
      line-height: 1.4em;
      margin-bottom: 10px;

      li {
        margin-bottom: 5px;
      }
    }

    figure {
      margin-top: 50px;
      float: right;
      width: 105px;
      text-align: center;
    }

    figcaption {
      font-weight: 700;
      margin-top: 5px;
      font-size: 14px;
      color: #666;
    }

    span.workshop-number {
      position: relative;
      top: 52px;
      float: right;
    }
  }

  span.workshop-number {
    background: #eee;
    color: #666;
    font-size: 14px;
    margin-right: 5px;
    width: 112px;
    letter-spacing: 2px;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    border-left: 1px dotted #999;
  }

  h3 {
    font-size: 18px;
    padding: 10px;
    background: #eee;
    border-left: 5px solid #990000;
    margin-bottom: 15px;

    i {
      font-size: 20px;
      margin-right: 10px;
      color: #999; 
    }

    i:hover {
      cursor: pointer;
    }

    i.fa-plus-square {
      display: inline;
    }

    i.fa-minus-square {
      display: none;
    }
  }

  h3.open {
    i.fa-plus-square {
      display: none;
    }

    i.fa-minus-square {
      display: inline;
    }
  }

  .answer {
    display: none;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 10px;
    margin-top: -15px;
    margin-left: 0px;
    border: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-top: none;

    figure.video {
      float: none;
      clear: both;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-left: 3px;

      figcaption {
        text-align: left;
        margin-left: -7px;
      }

      figcaption.easelly-demo-video {
        margin-left: 5px;
      }
    }

    em {
      font-style: italic;
    }

    strong {
      font-weight: 700;
    }

    i {
      margin-right: 10px;
      float: left;
      margin-top: 2px;
      font-size: 18px;
    }

    p {
      margin-bottom: 5px;
      line-height: 1.4em;
    }

    h4 {
      font-weight: 700;
    }

    ul {
      list-style: square;
      margin-left: 30px;
    }

    h4 + ul {
      li {
        margin-bottom: 5px;
      }
    }

    ol {
      list-style: decimal;
      margin-left: 18px;

      li {
        margin-bottom: 5px;
      }
    }

    ol {
      h4 {
        margin-left: -15px;
      }
    }

    ol ul {
      margin-left: 15px;
      list-style: square;
    }
  }

  h4.sub-heading {
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #990000;

    & + span.workshop-number {
      float: right;
      margin-top: 7px;
    }
  }

  h4.sub-heading + p {
    font-size: 15px;
    margin-bottom: 15px;
  }


  h4.sub-heading.peer-evaluation {
    margin-top: 30px;
  }

  p.analysis-project-heading {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 15px;
    color: #990000;
  }

  p.deadline {
    margin-top: 10px;
  }

  section.media {
    @include clearfix;
  }

  figure.video, figure.slides {
    float: left;
    margin-right: 45px;

    .coming-soon {
      width: 135px;
      height: 105px;
      background: #ccc;
      color: #666;
      text-transform: uppercase;
      font-size: 16px;
      text-align: center;

      p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .coming-soon.second {
      margin-left: 10px;
    }

    img {
      width: 135px;
      height: 105px;
      border: 1px solid #ccc;
    }

    a:hover {
      border-bottom: none;
    }

    figcaption {
      color: #666;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      padding: 5px;

      i {
        color: #000;
        margin-left: 15px;
      }
    }
  }
}