.workshops {
  @include span-columns(8);
  padding-right: 15px;
}

.workshop {
  margin-bottom: 40px;

  header {
    margin-bottom: 15px;
    @include clearfix;

    h2 {
      font-size: 24px;
      color: #333;
      line-height: 1.4em;
      margin-bottom: -30px;
    }

    h4.sub-heading {
      font-size: 20px;
      line-height: 1.4em;
      margin-bottom: -40px;
      margin-top: 50px;
      color: #990000;
    }

    span.workshop-number {
      background: #eee;
      color: #666;
      font-size: 14px;
      margin-right: 5px;
      width: 112px;
      position: relative;
      top: 55px;
      letter-spacing: 2px;
      padding: 5px;
      text-align: center;
      margin-bottom: 5px;
      float: right;
      border-left: 1px dotted #999;
    }
  }

  h3 {
    font-size: 18px;
    padding: 10px;
    background: #eee;
    border-left: 5px solid #990000;
    margin-bottom: 15px;

    i {
      font-size: 20px;
      margin-right: 10px;
      color: #999; 
    }

    i:hover {
      cursor: pointer;
    }

    i.fa-plus-square {
      display: inline;
    }

    i.fa-minus-square {
      display: none;
    }
  }

  h3.open {
    i.fa-plus-square {
      display: none;
    }

    i.fa-minus-square {
      display: inline;
    }
  }

  .answer {
    display: none;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 10px;
    margin-top: -15px;
    margin-left: 0px;
    border: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-top: none;

    em {
      font-style: italic;
    }

    i {
      margin-right: 10px;
      float: left;
      margin-top: 2px;
      font-size: 18px;
    }

    p {
      margin-bottom: 5px;
      line-height: 1.4em;
    }

    h4 {
      font-weight: 700;
    }

    ul {
      list-style: square;
      margin-left: 30px;
    }

    h4 + ul {
      li {
        margin-bottom: 5px;
      }
    }

    ol {
      list-style: decimal;
      margin-left: 18px;

      li {
        margin-bottom: 5px;
      }
    }

    ol {
      h4 {
        margin-left: -15px;
      }
    }

    ol ul {
      margin-left: 15px;
      list-style: square;
    }

  }

  section.media {
    @include clearfix;
  }

  figure.video, figure.slides {
    float: left;
    margin-right: 45px;

    .coming-soon {
      width: 135px;
      height: 105px;
      background: #ccc;
      color: #666;
      text-transform: uppercase;
      font-size: 16px;
      text-align: center;

      p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .coming-soon.second {
      margin-left: 10px;
    }

    img {
      width: 135px;
      height: 105px;
      border: 1px solid #ccc;
    }

    a:hover {
      border-bottom: none;
    }

    figcaption {
      color: #666;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      padding: 5px;

      i {
        color: #000;
        margin-left: 15px;
      }
    }
  }
}